.body {
  text-align: center;
  margin: 30px 0 0 0;
}
header {
  width: 70%;
  margin: 0 auto;
}
header a {
  font-size: 30px;
  color: #0389d4;
  text-shadow: 6px 3px 4px #ffeb3b;
  display: inline-block;
  font-weight: 700;
  margin: 0 30px;
  text-decoration: none;
}
.body .active {
  box-shadow: 0px 0px 20px 14px #eeff00;
}
img.img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
div.text_slide {
  font-weight: 900;
  font-size: 40px;
  color: #0389d4;
  text-shadow: 6px 3px 4px #ffeb3b;
}
.buttons {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 10%;
  height: 50px;
  border: none;
  background: #46b8f8;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  color: #fff500;
  border-radius: 50%;
  box-shadow: 9px 6px 10px 0px #585858;
}
input.inputSearch {
  width: 50%;
  margin: 20px auto;
  display: block;
  height: 40px;
  line-height: 33px;
  font-size: 28px;
  border: none;
  box-shadow: 4px 10px 7px #b0b0b0;
  color: #0389d4;
  padding: 0 10px;
  box-sizing: border-box;
}
input.inputSearch:focus-visible {
  outline: none;
}
.mainBlock > div {
  font-size: 30px;
  text-shadow: 3px 0px 5px #000000;
  color: white;
}
