.body {
  text-align: center;
  margin: 30px 0 0 0;
}
header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
header a {
  font-size: 30px;
  color: #0389d4;
  text-shadow: 6px 3px 4px #ffeb3b;
  display: inline-block;
  font-weight: 700;
  margin: 0 30px;
  text-decoration: none;
}
.body .active {
  box-shadow: 0px 0px 20px 14px #eeff00;
}
img.img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
div.text_slide {
  font-weight: 900;
  font-size: 40px;
  color: #0389d4;
  text-shadow: 6px 3px 4px #ffeb3b;
}
.buttons {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 50%;
  max-width: 120px;
  height: 50px;
  border: none;
  background: #46b8f8;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  color: #fff500;
  border-radius: 50%;
  box-shadow: 9px 6px 10px 0px #585858;
}
input.inputSearch {
  width: 50%;
  margin: 20px auto;
  display: block;
  height: 40px;
  line-height: 33px;
  font-size: 28px;
  border: none;
  box-shadow: 4px 10px 7px #b0b0b0;
  color: #0389d4;
  padding: 0 10px;
  box-sizing: border-box;
}
input.inputSearch:focus-visible {
  outline: none;
}
.mainBlock > div {
  font-size: 30px;
  text-shadow: 3px 0px 5px #000000;
  color: white;
}
.main_images {
  width: 80%;
  margin: 40px auto 0 auto;
  box-shadow: 9px 6px 17px 3px #585858;
  text-align: center;
}
.main_images img {
  width: 100%;
}
.tiny_images {
  width: 97%;
  margin: 20px auto 0 auto;
}
.tiny_images img {
  width: 23%;
}
.tiny_images img:nth-child(2) {
  margin: 0 1% 0 0;
  box-shadow: 10px 9px 15px 2px #585858;
}
.listItems {
  text-align: center;
}
.listItems > div {
  margin: 20px auto;
  width: 30vw;
}
.listItems > div img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.listItems > div p {
  margin: 0;
  font-size: 3em;
  text-shadow: 3px -1px 3px #000000;
  color: #46b8f8;
}
.C_cont {
  text-align: center;
}
.C_cont button {
  width: 7em;
  height: 2em;
  border: none;
  background: #46b8f8;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: 700;
  color: #fff500;
  border-radius: 20%;
  box-shadow: 9px 6px 10px 0px #585858;
}
.selector {
  background-color: #ffff00;
  font-size: 22px;
  line-height: 24px;
  color: #02456c;
  font-weight: 700;
  width: 50%;
  max-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
}
.selector:focus {
  background-color: #ffeb3b;
}
.selector .selectForm {
  margin: 20px auto 0 auto;
  width: 100%;
  display: none;
  text-align: center;
}
.selector .selectForm.active {
  display: block;
}
.selector .selectForm a {
  display: block;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}
.selector_pr {
  background-color: #ffff00;
  font-size: 22px;
  line-height: 24px;
  color: #02456c;
  font-weight: 700;
  width: 50%;
  max-width: 300px;
  text-align: center;
  margin: 20px auto 0 auto;
}
.selector_pr:focus {
  background-color: #ffeb3b;
}
.selector_pr .selectForm_pr {
  margin: 20px auto 0 auto;
  width: 100%;
  display: none;
  text-align: center;
}
.selector_pr .selectForm_pr.active {
  display: block;
}
.selector_pr .selectForm_pr a {
  display: block;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}
.bg {
  background-color: red;
}
